/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    height: 100%;
}

.top-image {
    height: 1000px;
    background-image: url(/assets/top-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-btn {
    background-color: blue;
    width: 25%;
    font-size: 20px;
    margin-top: 40px;
    margin-right: 15px;
}

.top-btn:hover {
    opacity: 0.6;
    color: white;
}
.top-text {
    position: relative;
    top: 100px;
}
.top-text h1 {
    /*font-family: inherit;*/
    font-size: 70px;
    letter-spacing: 8px;
}

.top-text p {
    font-size: 20px;
}

.new-user{
    margin-top: 20px;
}
.card-body {
    text-align: center;
}

.user-btn {
    width: 20%;
    margin-bottom: 10px;
}
.user_btn {
    display: flex;
}

.user-list {
    display: inline-block;
    text-align: center;
    
}
.user {
    padding-bottom: 10px;
    padding-top: 10px;
}
/*レスポンシブ対応*/

@media screen and (max-width:500px) {
  .top-image {
        height: 1000px;
    }
  .top-text h1 {
      font-size: 55px;
  }
  .navbar-title{
      font-size: 20px;
  }
  .top-btn  {
      width: auto;
  }
  .user-btn {
      width: auto;
  }
}

@media screen and (max-width: 320px) {
/* 320pxまでの幅の場合に適応される */
   .top-image {
        height: 1000px;
    }
    .top-text h1 {
      font-size: 40px;
  }
  
  .top-btn  {
      width: auto;
  }
  .user-btn {
      width: auto;
  }
}

@media screen and (max-width: 1025px){
    .top-image {
        height: 1300px;
    }
}

